/*------------------------------------*\
$BREADCRUMBS
\*------------------------------------*/
.no-touch {
    .landing .banner--home .banner--text .btn {
        &:hover {
            background: white;
            color: $principal;
        }
    }
}
.landing {
    .banner--home {
        .banner--text {
            padding-top: 180px;
            max-width: 800px;
            @include less-than(tablet) {
                top: calc(50% + 30px);
            }
            @include respond-to(tablet) {
                padding-top: 285px;
            }
            &::before {
                top: 133px;
                @include respond-to(tablet) {
                    top: 238px;
                }
            }
            img {
                max-width: 400px;
                width: 80%;
                margin: auto;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                @include less-than(tablet) {
                    width: 230px;
                }
            }
            .btn {
                font-size: cr(16px);
                line-height: cr(38px);
                text-align: center;
                width: 200px;
                height: 42px;
                border: 2px solid white;
                margin: auto;
                margin-top: 10px;
                padding: 0;
                transition: all 300ms;
                cursor: pointer;
                margin-bottom: 20px;
                @include respond-to(tablet) {
                    font-size: cr(20px);
                    line-height: cr(38px);
                }
            }
        }
    }
    .isotope-content {
        margin-bottom: 0;
    }
    .recetas {
        .isotope-content--item {
            @include respond-to(desktop) {
                width: 50%;
            }
            img {
                width: 100%;
            }
        }
    }
}
.single-landing {
        color: #473e32;
    &.steak {
        .receta--descripcion {
            background: rgba(#a33729, .9);
            &::after {
                border-color: transparent transparent rgba(#a33729, .9) transparent;
            }
        }
    }
    &.salmon {
        .receta--descripcion {
            background: rgba(#a9b04f, .9);
            &::after {
                border-color: transparent transparent rgba(#a9b04f, .9) transparent;
            }
        }
    }
    ol {
        counter-reset: counter;
        li {
            position: relative;
            padding-left: 20px;
            @include font-size(18px, 24px);
            margin-bottom: 20px;
            &:before {
                content: counter(counter, decimal);
                counter-increment: counter;
                margin-right: 5px;
                font-weight: bold;
                position: absolute;
                left: 0;
                top: 0;
                font-family: Cooper-Semibold;
            }
        }
    }
    .box__color--left li, .box__color--right li {
        margin: 20px 0 0 0;
    }
    .banner-news--content {
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #473e32;
            opacity: .3;
            z-index: 1;
        }
    }
    .single-logo {
        max-width: 320px;
        @include center;
        z-index: 3;
        top: calc(50% - 20px);
        @include respond-to(tablet) {
            top: 50%;
        }
    }
    .receta--descripcion {
        @include respond-to(tablet) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
        .receta--descripcion--left {
            @include respond-to(tablet) {
                position: relative;
                padding: 0 0 0 20px;
                transform: translate(0,0);
                top: auto;
                left: auto;
            }
        }
        .btn {
            @include respond-to(tablet) {
                margin: 0 20px 0 auto;
            }
        }
    }
    .box__color.preparacion {
        .preparacion__content {
            strong {
                margin-top: 0;
            }
        }
    }
    .redes-receta {
        .content-redes {
            text-align: center;
        }
    }
}